# Data Cleaning

In [1]:
import pandas as pd

* Loading dataset

In [2]:
df = pd.read_csv("car_prices.csv")

In [3]:
df.head(5)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [4]:
df.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

In [5]:
df.shape

(558837, 16)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

* Deleting 'vin' and 'seller' column as these both are not usefull

In [7]:
df.drop(columns=["vin", "seller"], inplace=True)

In [8]:
df.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'state',
       'condition', 'odometer', 'color', 'interior', 'mmr', 'sellingprice',
       'saledate'],
      dtype='object')

* Droping rows with missing values in columns which ae highly critical

In [9]:
df.dropna(subset=["make", "model", "sellingprice"], inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 548426 entries, 0 to 558836
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          548426 non-null  int64
 1   make          548426 non-null  object
 2   model         548426 non-null  object
 3   trim          548076 non-null  object
 4   body          545532 non-null  object
 5   transmission  484842 non-null  object
 6   state         548426 non-null  object
 7   condition     536693 non-null  float64
 8   odometer      548336 non-null  float64
 9   color         547697 non-null  object
 10  interior      547697 non-null  object
 11  mmr           548400 non-null  float64
 12  sellingprice  548426 non-null  float64
 13  saledate      548426 non-null  object
dtypes: float64(4), int64(1), object(9)
memory usage: 62.8+ MB

- Filling missing values in less critical columns

In [11]:
fill_columns = ["trim", "body", "transmission", "color", "interior"]
for col in fill_columns:
    df[col].fillna("Unknown", inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_3408\987439198.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna("Unknown", inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 548426 entries, 0 to 558836
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          548426 non-null  int64
 1   make          548426 non-null  object
 2   model         548426 non-null  object
 3   trim          548426 non-null  object
 4   body          548426 non-null  object
 5   transmission  548426 non-null  object
 6   state         548426 non-null  object
 7   condition     536693 non-null  float64
 8   odometer      548336 non-null  float64
 9   color         548426 non-null  object
 10  interior      548426 non-null  object
 11  mmr           548400 non-null  float64
 12  sellingprice  548426 non-null  float64
 13  saledate      548426 non-null  object
dtypes: float64(4), int64(1), object(9)
memory usage: 62.8+ MB

In [13]:
df.head(5)

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,45.0,1331.0,gray,black,31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,ca,41.0,14282.0,white,black,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,43.0,2641.0,gray,black,66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

* Filling rest null values with median

In [14]:
df['condition'].fillna(df['condition'].median(), inplace=True)
df['odometer'].fillna(df['odometer'].median(), inplace=True)
df['mmr'].fillna(df['mmr'].median(), inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_3408\2628072166.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['condition'].fillna(df['condition'].median(), inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_3408\2628072166.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['odometer'].fillna(df['odometer'].median(), inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_3408\2628072166.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['mmr'].fillna(df['mmr'].median(), inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 548426 entries, 0 to 558836
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          548426 non-null  int64
 1   make          548426 non-null  object
 2   model         548426 non-null  object
 3   trim          548426 non-null  object
 4   body          548426 non-null  object
 5   transmission  548426 non-null  object
 6   state         548426 non-null  object
 7   condition     548426 non-null  float64
 8   odometer      548426 non-null  float64
 9   color         548426 non-null  object
 10  interior      548426 non-null  object
 11  mmr           548426 non-null  float64
 12  sellingprice  548426 non-null  float64
 13  saledate      548426 non-null  object
dtypes: float64(4), int64(1), object(9)
memory usage: 62.8+ MB

* Converting saledate to datetime

In [16]:
df["saledate"] = pd.to_datetime(df["saledate"], errors="coerce", utc=True)
df.dropna(subset=["saledate"], inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_3408\1255548116.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["saledate"] = pd.to_datetime(df["saledate"], errors="coerce", utc=True)

In [17]:
df.head(5)

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,20500.0,21500.0,2014-12-16 04:30:00+00:00
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,20800.0,21500.0,2014-12-16 04:30:00+00:00
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,45.0,1331.0,gray,black,31900.0,30000.0,2015-01-14 20:30:00+00:00
3,2015,Volvo,S60,T5,Sedan,automatic,ca,41.0,14282.0,white,black,27500.0,27750.0,2015-01-28 20:30:00+00:00
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,43.0,2641.0,gray,black,66000.0,67000.0,2014-12-18 04:30:00+00:00

* Extracting parts of the date

In [18]:
df["sale_year"] = df["saledate"].dt.year
df["sale_month"] = df["saledate"].dt.month
df["sale_day"] = df["saledate"].dt.day

In [19]:
df.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'state',
       'condition', 'odometer', 'color', 'interior', 'mmr', 'sellingprice',
       'saledate', 'sale_year', 'sale_month', 'sale_day'],
      dtype='object')

In [20]:
df.head(5)

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,mmr,sellingprice,saledate,sale_year,sale_month,sale_day
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,20500.0,21500.0,2014-12-16 04:30:00+00:00,2014,12,16
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,20800.0,21500.0,2014-12-16 04:30:00+00:00,2014,12,16
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,45.0,1331.0,gray,black,31900.0,30000.0,2015-01-14 20:30:00+00:00,2015,1,14
3,2015,Volvo,S60,T5,Sedan,automatic,ca,41.0,14282.0,white,black,27500.0,27750.0,2015-01-28 20:30:00+00:00,2015,1,28
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,43.0,2641.0,gray,black,66000.0,67000.0,2014-12-18 04:30:00+00:00,2014,12,18

* Renaming columns

In [21]:

df.rename(columns={
    'mmr': 'market price',
    'make': 'brand',
    'sellingprice': 'selling price',
    'odometer': 'mileage'
}, inplace=True)

In [22]:
df.columns

Index(['year', 'brand', 'model', 'trim', 'body', 'transmission', 'state',
       'condition', 'mileage', 'color', 'interior', 'market price',
       'selling price', 'saledate', 'sale_year', 'sale_month', 'sale_day'],
      dtype='object')

* Saving cleaned data

In [23]:

df.to_csv("cleaned_car_prices.csv", index=False)